.heading-secondary {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    -webkit-background-clip: text;
    letter-spacing: .1rem;
    transition: all .2s;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    color: transparent; 
}
@media only screen and (max-width: 56.25em) {
    .heading-secondary {
        font-size: 2rem; 
    } 
}
@media only screen and (max-width: 37.5em) {
    .heading-secondary {
        font-size: 0.75rem; 
    } 
}
.heading-secondary:hover {
    background-color: none; 
}